html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    width: 100%;
    font-family: sans-serif;
    margin: 0;
    background-image: linear-gradient(270deg, #2376a2, #807b83);
}

a {
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    text-decoration: none;
    background: rgba(0,0,0,0.2);
    padding: 20px 5px;
    display: inline-block;
    width: 100%;
    text-align: center;
    transition: all 0.5s;
}

a:hover {
    background: rgba(0,0,0,0.3);
}

.container {
    max-width: 1000px;
    margin: 0;
    padding: 50px;
}


.flex-menu ul{
    position: absolute;
    border: 2px solid #00004d;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    overflow: auto;
    justify-content: space-around;
    align-items: flex-start;
    line-height: 1.3;
}

.flex-menu li {
    flex: 3;
}

.flex-menu .social {
    flex: 1;
}

@media all and (max-width: 1000px) {

    .flex-menu ul {
        flex-wrap: wrap;
    }

    .flex-menu li {
        flex: 1 1 33%;
    }

    .flex-menu .social {
        flex: 1 1 25%;
    }

}

@media all and (max-width: 500px) {

    .flex-menu li {
        flex-basis: 100%;
    }

    .container { 
        display: flex;
        flex-direction: column;
    }

    .container > * {
        order: 9999;
    }

    .flex-menu {
        order: 1;
    }

}

/*Plik aboutMe.html */

img{
    width: 100%;
    height: 100%;
}

.portrait {
     display: flex; 
     width: 310.5px;
     height: 450px;
}




